---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Here are my some of my bios:</p>
		<ul class="list-inside list-disc">
			<li>I'm software engineer worked in Trend Micro (Nanjing) Co., Ltd.</li>
			<li>I'm graduated from Southeast University with a bachelor's degree</li>
			<li>I'm good at Java/Spring/Maven/MySQL/PostgreSQL/Redis/Azure Data Explorer</li>
			<li>I built Jetbran's plugin: <a href="https://plugins.jetbrains.com/plugin/23820-code-changes-summarizer">Code-Changes-Summarizer</a> and 
				<a href="https://plugins.jetbrains.com/plugin/25059-analysis-logs-with-ai">Analysis-Logs-with-AI</a> </li>
		</ul>

		<p>My work experience in companies:</p>
		<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
			<li class="mb-10 ms-4">
				<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
				<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022</time>
				<h3 class="font-semibold text-gray-900 dark:text-white">Senior Engineer in Trend Micro</h3>
				<p class="mb-4 font-normal text-gray-500 dark:text-gray-400">Participated in the architecture and development of SaaS products, using SpringBoot/MyBatis/Redis to build API services.</p>
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
		</svg></a>
			</li>
			<li class="mb-10 ms-4">
				<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
				<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">June 2021</time>
				<h3 class="font-semibold text-gray-900 dark:text-white">Senior Engineer in YMM</h3>
				<p class="font-normal text-gray-500 dark:text-gray-400">Responsible for the development and iteration of the business system, using SpringCloud/MyBatis(MySQL)/Redis to build web service (on AliCloud).</p>
			</li>
			<li class="mb-10 ms-4">
				<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
				<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Augest 2019</time>
				<h3 class="font-semibold text-gray-900 dark:text-white">Software Engineer in Waiqin365</h3>
				<p class="font-normal text-gray-500 dark:text-gray-400">Responsible for the development of the platform service. Using SpringMVC/Struct2/MyBatis/Redis/PostgreSQL, to build web service.</p>
			</li>
			<li class="ms-4">
				<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
				<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">July 2017</time>
				<h3 class="font-semibold text-gray-900 dark:text-white">IT Engineer in TP-LINK</h3>
				<p class="font-normal text-gray-500 dark:text-gray-400">Responsible for the maintenance and development of purchase system. Building secondary development on the Oracle ERP system.</p>
			</li>
		</ol>

	</div>
</PageLayout>
